.img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(102, 102, 102);
  border-width: 1px;
}

.hr {
  opacity: 0.3;
  margin-top: -30px;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-left: 50px;
  top: -43px;
}
.name{
    margin-right: 5px;
}

.span{
    color:rgb(102, 102, 102);
}

.li-padding{
    padding: 0px 10px;
}
.action {
    border: 4px solid black;
    padding: 3px;
    position: absolute;
    border-radius: 50%;
    max-height: 11px;
    max-width: 20px;
}

.div-action{
    position: relative;
    top: -23px;
    left: 25px;
    max-width: 20px;
}

.background-like{
    background-color: #fe047b;
}

.background-comment{
    background-color: #1ac3fb;
}

.background-follow{
    background-color: #6a3bea;
}

.userName {
    color: white;
    cursor: pointer;
    text-decoration: none;
}