
.post-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(102, 102, 102);
  border-width: 1px;
}
.side-two {
  position: relative;
  margin-left: 50px;
  top: -60px;
}

.userName {
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin-left: 3px;
}
.input{
    background:none;
    border: none;
    color: rgb(102, 102, 102);
    margin-bottom: 20px;
    resize: none;
    width: 98%;
}
.input-text{
    background:none;
    border: none;
    color: white;
    margin-bottom: 20px;
    resize: none;
    width: 98%;
    outline: none;
}
.icon{
    color: rgb(102, 102, 102);
}
.li-userName{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.li-userName span {
    margin-right: 10px;
}
.button-post{
    background: none;
    color: #1b8cd6;
    border: none;
    font-size: medium;
    font-weight: bold;
}
.send-post{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px 25px 20px;
}
.post-main{
    padding: 0px 10px;
    overflow-y: scroll;
    width: 620px;
    height: 470px;
}

.select{
    background: none;
    color: white;
    border: none;
}

@media only screen and (max-width: 700px) {
  .post-main{
    height: 580px;
  }
}
