.post {margin: 0px 20px;}
.post-img { width: 40px; height: 40px; border-radius: 50%; border-style: solid; border-color: rgb(102, 102, 102); border-width: 1px;}
.post .details {margin-bottom: 10px; overflow-wrap: break-word;}
.post li { display:inline-block;}
.hr {opacity: 0.3; margin-top: -30px;}
.post .side-two { position: relative; margin-left: 50px; top: -43px;}
.post li > div > span > a { margin-right: 2px; color: white;}
.post .div-icons { display: flex; align-items: center; margin-right: 30px; }
.post .div-icons > span { font-size: 11px; }
.post .like-Active {color: #ff3040;}