.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }
.footer li { display:inline-block; }
.footer ul { justify-content: space-between;display: flex; margin: 20px; }
.footer .not_active { color: rgb(102, 102, 102); }

