.heder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #101010;
    opacity: 0.9;
    color: white;
    text-align: center;
    left: 50%; /* Align left edge of footer to the horizontal center */
    transform: translateX(-50%); /* Translate back half of footer's width to center it */
 }


@media only screen and (max-width: 700px) {
    .heder{
      width: 100%;
      margin: 0px;
    }
    .nav_none{
        display: none;
    }
  }