.button{
    border: 1px solid rgb(102, 102, 102);
    border-radius: 8px;
    padding: 7px 16px;
    color: white;
    background: none;
    font-weight: bold;
}

.button-post{
    border-radius: 20px;
    padding: 9px 19px;
    font-weight: 600;
    cursor: not-allowed;
    opacity: 0.5;
}

.button-post.active{
    border-radius: 20px;
    padding: 9px 19px;
    font-weight: 600;
    opacity: 1;
    cursor: pointer;
}